<div class="footer p-3" data-bs-theme="dark">
    <div class="container-xxl text-body">
        <div class="row row-cols-1 row-cols-md-3 g-3 align-items-center">
            <div class="col order-last order-md-first text-center text-md-start">
                <div class="vstack gap-2">
                    <span>Built by <img src="img/light-logo - favicon.svg" height="30"/></span>
                    <span>&copy; @DateTime.Now.Year</span>
                </div>
            </div>
            <div class="col text-center">
                <img src="img/AddressAce.svg" height="60" />
            </div>
            <div class="col text-center text-md-end">
                <div class="vstack gap-2">
                    <div>
                        <a href="https://github.com/CordoBry9" target="_blank"><i class="bi bi-github"></i></a>
                        <a href="#"><i class="bi bi-twitter-x" target="_blank"></i></a>
                        <a href="#"><i class="bi bi-envelope-fill"></i></a>
                        <a href="#"><i class="bi bi-linkedin" target="_blank"></i></a>
                    </div>
                    <div class="small">
                        <a href="#">Portfolio</a>
                        &bull;
                        <a href="#">Blog</a>
                        &bull;
                        <a href="#">BugTracker</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 