.navmenu {
    background-color: var(--bac-theme-850);
}

.nav-item {
    --bs-navbar-hover-color: var(--bac-theme-400);
    --bs-nav-link-hover-color: var(--bac-theme-400);
}

.dropdown-menu {

    background-color: var(--bac-theme-900);
}

.dropdown:has(.nav-link.active) .dropdown-toggle {
    color: var(--bs-navbar-active-color);
}

.profile-picture {

    height: 1.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: solid 1px black;
    object-fit: cover;

}

/* Remove blue color on click */
.navbar-nav .dropdown-item:focus,
.navbar-nav .dropdown-item:active {
    color: #212529 !important; /* Default text color */
    background-color: transparent !important; /* Remove blue background */
}

/* Proper highlighting on hover */
.navbar-nav .dropdown-item:hover {
    color: #ffffff !important; /* Text color on hover */
    background-color: #007bff !important; /* Background color on hover */
}

/* Proper highlighting when active */
.navbar-nav .dropdown-item.active {
    color: #ffffff !important; /* Text color when active */
    background-color: #007bff !important; /* Background color when active */
}
